<% title "Search" %>
	
<div id="search_wrap">
	
	<%= @all_count %> People

	<% form_tag request.path, :method => 'get' do %>
	  <% content_tag :label do %>
	    Search term:
	    <%= text_field_tag :search, params[:search] %>
	  <% end %>
	<% end %>

	<div id="search_results">
		<% for user in @friends %>
		<div id="search_item_<%= user.id %>">
			<%= user.name %>
		</div>	
		<% end %>
	</div>
</div>

