/* Reset CSS
----------------------------*/
p, form, ul, li {margin: 0; padding: 0; border: 0; font-size: 100%; background: transparent;}

body { background-color: #e9e9e9; font-family: Verdana, Helvetica, Arial; font-size: 14px; }
a img {  border: none; }
a { color: #0000FF; }

/* Body CSS
----------------------------*/

#container { width: 960px; margin: 0 auto; background-color: #FFF; padding: 10px; border: solid 1px #ddd; margin-top: 20px; -webkit-border-radius: 10px; -moz-border-radius: 10px;}

h1 {font-size: 20px; font-weight: normal; color: #111;}
	h2 {margin: 0 0 10px 0; padding: 0; font-size: 18px; font-weight: normal; line-height: 2em; color: #2d3133; border-bottom: 1px solid #e9e9e9; text-shadow: #eee 0px 1px 1px;}
		h3 {margin: 0 0 5px 0; font-size: 14px; font-weight: bold; color: #2d3133;}
		
#content { margin: 0 auto; text-align: center;}
	h1.site { font-size: 24px; font-weight: bold; margin: 20px 0 5px 0;}
	h2.site { font-size: 20px; font-weight: normal; margin: 0; border: 0;}
	#welcome_login { margin: 40px auto; padding: 15px 20px; font-size: 18px; line-height: 1.8em; font-weight: bold; width: 250px; background: #CFC;  border: 1px solid green; -webkit-border-radius: 20px; -moz-border-radius: 20px;}
	#welcome_login:hover { cursor: pointer;}
	#search_box { margin: 20px auto; padding: 20px;  width: 400px;}
	#search_box #search_form input { padding: 7px; background-color: #CFC; border: 1px solid #6C6; font-size: 16px;}
	#notice { margin: 10px; padding: 10px; background: #6C6;}
	
	#header { min-height: 50px; border-bottom: 1px solid #ccc; padding: 5px;}
		#header #logo { float: left; height: 20px;}
		ul#user_nav {margin: 0; padding: 0; float: right; font-size: 13px;}
		#user_nav li { display: inline; padding: 5px; } 
		#user_nav form { display: inline;}
		#user_nav input { border: 1px solid #ccc; padding: 2px; }
	#main_wrap { margin: 0; padding: 10px;}
	#user_info { margin-right: 20px; width: 200px; float: left;}
		#user_info img { }
		#user_tags_wrap { margin: 10px 0;}
		#user_tags li { display: inline; padding: 5px; line-height: 1.5em; }
		.user_tagger li { display: inline; padding: 3px; font-size: 11px;}
		#tag_form input.tag_input { width: 130px;}

	#user_content {  width: auto; display: block; float: left;}
		#user_whois { width: 700px;}
		#user_whois fieldset { padding: 10px; border: 1px solid gray; background: #eee;}
		#user_whois textarea { width: 600px; height: 100px; border: 1px solid #6C6; background-color: #CFC; font-size: 13px; padding: 7px;}

		#user_whois .content { font-size: 20px; line-height: 2em;}
		#user_whois .byline { font-style: italic; float: right; margin: 10px 5px;}
		.whois_item { border-bottom: 1px dotted #333;}
		
		#write_statement { width: 680px; margin: 10px 0; padding: 10px; background-color: #CFC; border: 1px solid #6C6;}
		#write_statement input.question { width: 600px; padding: 3px; border: 1px solid #6C6; line-height: 1.6em; font-size: 16px;} 
		#write_statement textarea.content { width: 600px; height: 50px; padding: 3px; font-size: 13px;} 
		
		.read_statement { padding: 10px; width: 680px; margin: 10px; border-bottom: 1px dotted #222;}
		.read_statement p.question { font-size: 13px; line-height: 1.4em; padding: 5px 0;}
		.read_statement p.content { font-size: 18px; line-height: 2em;  }
		.read_statement .byline_wrap {float: right; }
		.byline_wrap .byline { font-style: italic; color: #333;}
		.byline_wrap .actions { margin: 0 5px; position: relative;}
		.actions .score { padding: 0 5px; margin: 0 5px; border: 1px solid gray;}
			.actions .pos { background: #CFC; }
			.actions .neg { background: #FE9099; }
		.score .vote_tip {display: none;  border: 1px solid gray; padding: 5px; width: 150px; position: absolute; top: -50px; left: -30px; z-index: 100; background: white;}
			.score:hover .vote_tip { display: block;}
			.vote_tip div { padding: 2px; float: left; font-size: 10px;}
			.vote_tip .likers { background: #CFC; }
			.vote_tip .dislikers { background: #FE9099; }
		.actions .voted { padding: 0 5px; background: #3399CC;}
		.actions a { margin: 0 2px;}
		
		#describe_friend { margin: 10px; }
		#describe_friend .user_img { margin: 0 10px;}
		#describe_friend .blurb { padding: 10px; margin-bottom: 10px; font-size: 16px;}
		#describe_friend .input_box textarea { margin: 10px; min-width: 500px; height: 100px; border: 1px solid #6C6; background-color: #CFC; font-size: 13px; padding: 7px;}

		#notifications { margin: 10px 5px; padding: 10px; background-color: #6C6; font-size: 16px;}
		
		ul#search_nav { margin: 20px 0;  padding: 8px 0; border-bottom: 4px solid #6C6;}
		ul#search_nav li { display: inline; padding: 10px;}
		ul#search_nav li.selected { background: #6C6;}
		
		.search_item { margin: 10px 0; padding: 5px;}
		.search_item img { margin: 0 10px; float: left;}
		.search_item_info { float: left;}
		
		#cards_wrap { width: 400px;}
		#cards_wrap .card { float: left; width: 75px; height: 50px; margin: 2px; padding: 5px; text-align: center; font-size: 12px; cursor: pointer; border: 1px solid #fff; }
		#cards_wrap .card:hover { border: 1px solid #6C6; background-color: #CFC;}
		#profile_cards_wrap .card { float: left; width: 75px;  min-height: 75px; margin: 2px; padding: 3px; text-align: center; font-size: 12px; cursor: pointer; border: 1px solid #ddd;}
		#cards_wrap_given .card { float: left; width: 75px; height: 50px; margin: 2px; padding: 5px; text-align: center; font-size: 12px; cursor: pointer; border: 1px solid #fff; }
		#cards_wrap_given .card:hover { border: 1px solid #6C6; background-color: #CFC;}

		
		
/*Rails Errors
----------------------------*/
#flash_notice, #flash_error { position: absolute; top: 0; padding: 5px 8px; margin: 0; width: 700px; }
#flash_notice {background-color: #CFC; border: solid 1px #6C6; }
#flash_error { background-color: #FCC; border: solid 1px #C66; }
.fieldWithErrors { display: inline; }

#errorExplanation { width: 400px; border: 2px solid #CF0000; padding: 0px; padding-bottom: 12px;margin-bottom: 20px; background-color: #f0f0f0; }
	#errorExplanation h2 { text-align: left; font-weight: bold; padding: 5px 5px 5px 15px; font-size: 12px; margin: 0; background-color: #c00; color: #fff; }
	#errorExplanation p { color: #333; margin-bottom: 0; padding: 8px; }
	#errorExplanation ul { margin: 2px 24px; }
	#errorExplanation ul li { font-size: 12px; list-style: disc; }


/*----------------------------
 Generic Classes
----------------------------*/
.clear { clear: both; height: 0; overflow: hidden; }
.rounded-5 { -webkit-border-radius: 5px; -moz-border-radius: 5px; }
.rounded-10 { -webkit-border-radius: 10px; -moz-border-radius: 10px; }

.left { float: left;}
.right { float: right;}
