<% title "Home", false %>

<div id="notifications">
The best way to get others to write about you is to  <%= link_to_remote "write about them!", :url => { :controller => "whois", :action => "describe_friend" } %>
<%= link_to_remote "Close Friend ", :url => { :controller => "whois", :action => "get_close_friend" } %>
</div>

<div id="describe_friend_wrap"></div>


<% if current_user.settings[:read_stream] == 0%>
<script>
	function call_perms() {
		FB.Connect.showPermissionDialog("read_stream", function(perms) {
			if (perms) {
				$.ajax({
			   		type: "POST",
			   		url: "/users/update_settings",
			   		data: "read_stream=1"
			 	});
			} else{
				alert('Boo!')
			}
		 });
	}
	$(document).ready(function() {
		setTimeout("call_perms()",500);
	 });
</script>
<% end %>
