<% title "Welcome", false %>
<div id="content">
	
	<h3 onclick="fb_connect_see_status(); return false;"> Facebook Status <span id="fbcstatus">unknown</span></h3>
	<h1>Welcome, <%= fb_name(current_user.facebook_uid, :first_name_only => true, :linked => false, :use_you => false) %></h1>

	<div id="notice">
		Finish registering to check it out. 
	</div>
	
	
	<script type="text/javascript">
	//<![CDATA[

	  function fb_connect_see_status() {
	    $('#fbcstatus').text(FB.Connect.get_status().result);
	  }
	//]]>
	</script>
	
</div>