<% title "Oops... Page Not Found"%>

<div class="error">
<h3>We couldn't find the page you were looking for. </h3>
You may have clicked an expired link or mistyped the address. URLs can be a pain sometimes. 
</div>

<%= link_to "Go back to the previous page", :back %>

