<% title "Darn... something is broken" %>

<div class="error">
<h3> Some stuff seems to be broken. </h3>We'll get on it. Hopefully you wont see this page again. 
</div>

<%= link_to "Go back to the previous page", :back %>

